<div class="taxonomy-select" [class.is-open]="isOpen" [class.is-disabled]="disabled">
    <div class="taxonomy-select-control" (click)="open()">
        <div class="taxonomy-selected-values" *ngIf="multiple && selectedValues.length > 0">
            <span class="taxonomy-chip" *ngFor="let value of selectedValues">
                {{ value }}
                <button type="button" (click)="removeValue(value, $event)" [attr.aria-label]="'Remove ' + value">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </span>
        </div>
        <input #searchInput type="text" role="combobox" aria-autocomplete="list" [attr.aria-expanded]="isOpen" [value]="inputValue" [placeholder]="multiple && selectedValues.length ? '' : placeholder" [attr.aria-label]="ariaLabel" [disabled]="disabled" autocomplete="off" (focus)="handleFocus()"
            (input)="updateSearch($any($event.target).value)" (keydown)="handleKeydown($event)">
        <button type="button" tabindex="-1" class="taxonomy-toggle" [disabled]="disabled" (click)="toggleDropdown(); $event.stopPropagation()" [attr.aria-expanded]="isOpen" [attr.aria-label]="ariaLabel">
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </button>
    </div>

    <div #dropdown class="taxonomy-dropdown" *ngIf="isOpen">
        <button type="button" tabindex="-1" class="taxonomy-option" [class.is-highlighted]="highlightedIndex === 0" *ngIf="!multiple && emptyLabel" (mouseenter)="highlightValue(emptyValue)" (click)="selectValueWithMouse(emptyValue, $event)">
            <span class="taxonomy-checkbox" [class.is-checked]="isSelected(emptyValue)">
                <i *ngIf="isSelected(emptyValue)" class="fas fa-check" aria-hidden="true"></i>
            </span>
            <span>{{ emptyLabel }}</span>
        </button>
        <ng-container *ngFor="let group of filteredGroups; trackBy: trackGroup">
            <div class="taxonomy-group-label" *ngIf="group.labelKey">{{ group.labelKey | translate }}</div>
            <button type="button" tabindex="-1" class="taxonomy-option" *ngFor="let value of group.values; trackBy: trackValue" [class.is-highlighted]="filteredValues[highlightedIndex] === value" (mouseenter)="highlightValue(value)" (click)="selectValueWithMouse(value, $event)">
                <span class="taxonomy-checkbox" [class.is-checked]="isSelected(value)">
                    <i *ngIf="isSelected(value)" class="fas fa-check" aria-hidden="true"></i>
                </span>
                <span>{{ getOptionLabel(value) }}</span>
            </button>
        </ng-container>
        <button type="button" tabindex="-1" class="taxonomy-option taxonomy-add" *ngIf="canAddCustomValue" (click)="addCustomValueWithMouse($event)">
            <i class="fas fa-plus" aria-hidden="true"></i>
            <span>{{ searchTerm.trim() }}</span>
        </button>
    </div>
</div>